@import "../css/normalize.css";
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;700;800&display=swap');
@import "./settings/fonts";
@import "./settings/colors";
@import "navigation_header";
@import "main_section";
@import "three_columns";
@import "four_steps";
@import "about_us";
@import "foundations";
@import "contact";
@import "login";
@import "register";
@import "logout";


body {

  background-color: white;
  font-family: $font-base;
  font-weight: normal;
}

h1 {
  color: blue;
}

